@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);

/* @import url(clr_kga_grey.css); */


/* @import url(clr_kga_green.css); */


/* @import url(clr_kga_purple.css); */


/* @import url(clr_kga_blue.css); */

@import url(clr_kga_red.css);
:root {
    /* Common colors */
    --clr_accent: #fff29d;
    --clr_black: #000;
    --clr_white: #fff;
}